table {
    border-collapse: collapse;
}

table {
    width: 100%;
    height: 250px;
    background-color: aquamarine;
}

.tab { */
    tr:nth-child(odd) {
        background-color: bisque;
    }

    tr:nth-child(even) {
        background-color: lavender;
    }
}

.tabl,.rr {
    tr:nth-child(odd) {
        background-color: lightskyblue;
    }

    tr:nth-child(even) {
        background-color: lightcyan;
    }

    border-bottom: 3px solid purple;
}
.tab{
    border-spacing: 4px;
    padding: 3px;
}
